@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

.Ah-container{
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Ah-container-white{
    width: 70%;
    background-color: white;
    padding: 50px 40px;
    font-family:Montserrat ;
    box-shadow: 0px 4px 20px 0px rgba(40, 40, 40, 0.15);
    
}
.Ah-title{
    font-size: 24px ;
    font-weight: 700;
    margin-bottom: 30px;
}
input{
    width: 90% !important;
    border: 0;
    border-bottom: 2px solid #000;
    outline: none;
}
.row div{
    margin-bottom: 20px;
}
label{
    width: max-content;
    position: relative;
}
.star::after{
    content: '*';
    font-size: 20px;
    color: #FF850099 ;
    position: absolute;
    top: 0;
    right: -15px ;
    
}
@media only screen and (min-width:1600px){
    .Ah-container{
        margin: 0 auto !important;
    }
    
    .Ah-container-white{
        width: 90%;
        margin: 100px auto;
        font-size: 30px;
    }
    input{
        font-size: 25px;
    }
}
@media only screen and (max-width:500px){
    .Ah-container{
        margin: 20px auto;
    }
    .Ah-container-white{
        width: 90%;
        font-size: 16px;
        height: max-content;
        padding: 40px 30px;
    }
    input{
        font-size: 14px;
    }
}
